/* You can add global styles to this file, and also import other style files */
.contain{background-color:beige;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}
button{
  background-color: #90e0ef;
  border: #90e0ef;
  color:#0077b6;
  font-weight: bold;
  padding: 10px;
}