.container {
    display: flex;
  }
  
  .content {
    flex: 1;
    padding: 20px;
  }
  
  .image {
    padding: 20px;
    width: 500px;
    height: 300px;
  }
  


.bus{
    width: 90%;
    height: 90%;
  }

  