
<button type="button" class="btn btn-primary btn-lg" (click)="abrirLista()">Reservas de hoy</button>
<div class ="lista">
    <div id="ListaRDia">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Fecha reserva</th>
                <th scope="col">Fecha viaje</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Opción</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of reserva">
                <td>{{item.fecha_de_reserva}}</td>
                <td>{{item.id_viaje.fecha}}</td>
                <td>{{item.cc_cliente.nombre}}</td>
                <td>{{item.cc_cliente.apellido}}</td>
                <td><button type="button" class="btn btn-primary btn-lg">Pagar</button></td>
              </tr>
        </tbody>
        </table>
    </div>
</div>